body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
menu {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li,
menu li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  position: relative;
}

.header .header__title {
  position: absolute;
  box-sizing: border-box;
  font-family: OpenSans-Bold, Arial, sans-serif;
  line-height: 1.1;
  text-transform: uppercase;
  color: #ffffff;
}

.header .header__title--left b {
  float: left;
  font-weight: normal;
}

.header .header__title--left b::after {
  display: block;
  width: 100%;
  content: "";
  clear: both;
}

.header .header__title--left span {
  float: right;
}

.header .header__buttons {
  position: absolute;
  left: 0;
  width: 100%;
}

.btn {
  display: block;
  box-sizing: border-box;
  border-radius: 17px 17px 18px;
  background-color: #5e42b0;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.btn--app > span:before {
  content: "";
  position: absolute;
  background-image: url("../img/apple_logo_black.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.btn--google > span:before {
  content: "";
  position: absolute;
  background-image: url("../img/google-play.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.btn--footer {
  margin: 0 auto;
  padding: 0;
}

.btn span {
  position: relative;
  display: block;
}

.btn b {
  display: block;
  font-family: OpenSans-Bold, Arial, sans-serif;
}

.btn:hover {
  background-color: #4a348b;
}

.logo {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.sports {
  position: relative;
  overflow: hidden;
}

.sports .sports__title {
  font-family: OpenSans-Bold, Arial, sans-serif;
  text-transform: uppercase;
  color: #e7e7e7;
}

.sports .sports__img-athlets {
  position: absolute;
}

.sports .sports__img-players {
  position: absolute;
}

.sports .sports__item {
  box-sizing: border-box;
}

.sports .sports__item dt {
  position: relative;
  box-sizing: border-box;
  font-family: OpenSans-Bold, Arial, sans-serif;
  text-transform: uppercase;
  color: #c1c1c1;
}

.sports .sports__item dt::before {
  position: absolute;
  content: "01";
  font-family: OpenSans-Bold, Arial, sans-serif;
  color: #000;
}

.sports .sports__item dt::after {
  position: absolute;
  content: "";
  background-color: #5e42b0;
}

.sports .sports__item dd {
  box-sizing: border-box;
  font-family: OpenSans-Regular, Arial, sans-serif;
}

.sports--athlets .sports__item:nth-of-type(2) {
  background-color: #f5f4f9;
}

.sports--athlets .sports__item:nth-of-type(3) {
  background-color: #5e42b0;
  color: #fff;
}

.sports--players .sports__item:nth-of-type(2) {
  background-color: #f5f4f9;
}

.sports--players .sports__item:nth-of-type(3) {
  background-color: #090c35;
  color: #fff;
}

.sports--athlets .sports__item:nth-of-type(2) dt::before {
  content: "02";
}

.sports--athlets .sports__item:nth-of-type(3) dt::before {
  content: "03";
  color: #0a0e34;
}

.sports--athlets .sports__item:nth-of-type(3) dt::after {
  background-color: #efefef;
}

.sports--players .sports__item:nth-of-type(2) dt::before {
  content: "02";
}

.sports--players .sports__item:nth-of-type(3) dt::before {
  content: "03";
  color: #8765dd;
}

.sports--players .sports__item:nth-of-type(3) dt::after {
  background-color: #efefef;
}

.advantages {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.advantages .advantages__hidden {
  display: none;
}

.advantages .advantages__points {
  flex-basis: 100%;
  display: -webkit-box;
  display: flex;
}

.advantages .advantages__image {
  position: relative;
}

.advantages .advantages__image::before {
  position: absolute;
  display: -webkit-box;
  display: flex;
  box-sizing: border-box;
  content: "01";
  -webkit-box-pack: center;
  justify-content: center;
  font-family: OpenSans-Bold, Arial, sans-serif;
  background-color: #5e42b0;
  color: #f5f6f7;
}

.advantages .advantages__points:nth-of-type(2) .advantages__image::before {
  content: "02";
}

.advantages .advantages__points:nth-of-type(3) .advantages__image::before {
  content: "03";
}

.advantages .advantages__image::after {
  position: absolute;
  content: "";
  border-radius: 2px;
  background-color: #ffffff;
  opacity: 0.3;
}

.advantages .advantages__text {
  box-sizing: border-box;
}

.advantages .advantages__title {
  font-family: OpenSans-Bold, Arial, sans-serif;
  text-transform: uppercase;
  color: #e7e7e7;
}

.footer .footer__buttons {
  width: 100%;
}

.footer .footer__title {
  display: block;
  font-family: OpenSans-Bold, Arial, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}

.footer .footer__subtitle {
  display: block;
  font-family: OpenSans-Regular, Arial, sans-serif;
  text-transform: uppercase;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'), url('../fonts/OpenSans-Bold.ttf') format('truetype'), url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  font-family: OpenSans-Regular, Arial, sans-serif;
}

@media (min-width: 641px) {
  .btn {
    width: 311px;
    height: 77px;
    border-radius: 50px;
    box-shadow: 0 16px 24px #0a0e34;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.7px;
  }

  .btn--app {
    margin: 0 auto 14px auto;
    padding: 22px 35px 24px 105px;
  }

  .btn--google {
    margin: 0 auto 14px auto;
    padding: 22px 35px 24px 126px;
  }

  .advantages .advantages__desc {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1.2px;
    margin-left: 2px;
  }
}

@media (min-width: 715px) {
  .btn--app {
    margin: 0 15px 14px auto;
    padding: 22px 35px 24px 105px;
  }

  .btn--google {
    margin: 0 auto 14px 15px;
    padding: 22px 35px 24px 126px;
  }
}

@media (min-width: 960px) {
  .btn--app {
    margin: 0 25px 14px auto;
  }
}

@media (min-width: 961px) {
  .header {
    height: 960px;
    background: #0a0e34 url("../img/header.png") 50% 0 no-repeat;
    background-size: cover;
  }

  .header .header__title--left {
    letter-spacing: 4.96px;
  }

  .header .header__buttons {
    top: 773px;
    display: -webkit-box;
    display: flex;
  }

  .btn--app > span:before {
    top: -12px;
    left: -70px;
    width: 50px;
    height: 65px;
  }

  .btn--google > span:before {
    top: -5px;
    left: -69px;
    width: 45px;
    height: 60px;
  }

  .btn--footer {
    float: left;
    margin-right: 35px;
    width: 130px;
    height: 137px;
    border-radius: 30px;
    background: url("../img/surface_logo.svg") no-repeat 50% 50%, #5e42b0;
    background-size: 90px 120px;
  }

  .logo {
    width: 191px;
    height: 52px;
    left: -18px;
    font-size: 40px;
  }

  .logo--header {
    top: 45px;
  }

  .logo--footer {
    margin-top: auto;
    margin-bottom: 51px;
  }

  .sports .sports__title {
    margin-left: calc(50% + 46px);
    margin-top: 90px;
    font-size: 80px;
  }

  .sports .sports__img-athlets {
    width: 589px;
    height: 950px;
    background: url("../img/footballer.png") no-repeat 0 0;
    right: calc(50% + 50px);
    top: -15px;
  }

  .sports .sports__img-players {
    width: 991px;
    height: 815px;
    background: url("../img/player.png") no-repeat 0 0;
    left: calc(50% - 155px);
    top: -30px;
  }

  .sports .sports__item {
    padding-top: 55px;
    padding-right: 200px;
    padding-bottom: 80px;
    padding-left: calc(50% + 46px);
  }

  .sports .sports__item dt {
    margin-bottom: 14px;
    margin-left: 30px;
    font-size: 36px;
    letter-spacing: 1.8px;
  }

  .sports .sports__item dt::before {
    left: -30px;
    top: 6px;
    font-size: 18px;
  }

  .sports .sports__item dt::after {
    left: -28px;
    top: 35px;
    width: 20px;
    height: 5px;
    border-radius: 2px;
  }

  .sports .sports__item dd {
    margin-left: 1px;
    font-size: 20px;
    letter-spacing: 1px;
  }

  .sports--players .sports__title {
    margin-left: 315px;
  }

  .sports--players .sports__item {
    padding: 50px 50% 85px 320px;
  }

  .advantages .advantages__points {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }

  .advantages .advantages__points:nth-of-type(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
  }

  .advantages .advantages__image {
    flex-basis: 50%;
    flex-shrink: 0;
    background: url("../img/01.jpg") 50% 50% no-repeat;
    background-size: cover;
  }

  .advantages .advantages__image--2 {
    background: url("../img/02.jpg") 50% 50% no-repeat;
    background-size: cover;
  }

  .advantages .advantages__image--3 {
    background: url("../img/03.jpg") 50% 50% no-repeat;
    background-size: cover;
  }

  .advantages .advantages__image::before {
    right: -84px;
    top: 210px;
    padding-top: 55px;
    width: 168px;
    height: 155px;
    font-size: 24px;
  }

  .advantages .advantages__points:nth-of-type(2) .advantages__image::before {
    left: -84px;
    top: 210px;
  }

  .advantages .advantages__image::after {
    right: -11px;
    top: 300px;
    width: 22px;
    height: 5px;
  }

  .advantages .advantages__points:nth-of-type(2) .advantages__image::after {
    left: -11px;
    top: 300px;
  }

  .advantages .advantages__text {
    flex-basis: 50%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-height: 730px;
    padding-left: 125px;
    padding-right: 50px;
    padding-top: 230px;
    padding-bottom: 200px;
  }

  .advantages .advantages__points:nth-of-type(2) .advantages__text {
    padding-left: 50px;
    padding-right: 125px;
    width: auto;
  }

  .advantages .advantages__title {
    margin-bottom: 90px;
    font-size: 80px;
  }

  .footer {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 959px;
    background: #0a0e34 url("../img/footer.jpg") 50% 0 no-repeat;
    background-size: cover;
  }

  .footer .footer__wrapper {
    position: relative;
    margin: 0 auto;
    left: -100px;
    padding-top: 230px;
  }

  .footer .footer__buttons {
    display: -webkit-box;
    display: flex;
    margin-top: 151px;
  }

  .footer .footer__title {
    font-size: 80px;
    line-height: 1.1;
    letter-spacing: 4.41px;
    white-space: nowrap;
  }

  .footer .footer__subtitle {
    font-size: 30px;
    color: #a496ca;
  }
}

@media (min-width: 1200px) {
  .advantages .advantages__text {
    padding-right: 190px;
  }

  .advantages .advantages__points:nth-of-type(2) .advantages__text {
    padding-left: 190px;
  }
}

@media (min-width: 1920px) {
  .header .header__title {
    top: 378px;
    padding-left: 185px;
    padding-right: 185px;
    font-size: 90px;
  }

  .header .header__title--left span {
    letter-spacing: 4.5px;
  }
}

@media (max-width: 960px) {
  .advantages .advantages__points {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}

@media (max-width: 640px) {
  .header {
    height: 568px;
    background: #0a0e34 url("../img/header-s.png") 50% 0 no-repeat;
    background-size: cover;
  }

  .header .header__title--left {
    letter-spacing: 1.54px;
  }

  .btn {
    width: 280px;
    height: 20px;
    margin: 0 auto 14px auto;
    padding: 8px 8px 30px 82px;
    box-shadow: 8px 14px 24px #0a0e34;
    font-size: 8px;
    letter-spacing: 0.4px;
  }

  .btn--app {
    margin: 0 auto 13px auto;
    padding: 8px 8px 28px 112px;
  }

  .btn--app > span:before {
    top: -3px;
    left: -31px;
    width: 24px;
    height: 30px;
  }

  .btn--google {
    margin: 0 auto 14px auto;
    padding: 8px 8px 30px 111px;
  }

  .btn--google > span:before {
    top: 0;
    left: -29px;
    width: 23px;
    height: 28px;
  }

  .btn--footer {
    margin: 0 auto;
    padding: 0;
    width: 72px;
    height: 74px;
    border-radius: 15px;
    background: url("../img/surface_logo.svg") no-repeat 50% 50%, #5e42b0;
    background-size: 52px 57px;
  }

  .logo {
    width: 133px;
    height: 36px;
    left: -5px;
    font-size: 25px;
  }

  .logo--header {
    top: 33px;
  }

  .logo--footer {
    top: 525px;
  }

  .sports {
    padding: 10px 0 0 0;
  }

  .sports .sports__title {
    margin-left: 20px;
    font-size: 50px;
  }

  .sports .sports__img-athlets {
    width: 100%;
    height: 281px;
    text-align: center;
    background: url("../img/footballer-s.png") no-repeat center 0;
  }

  .sports .sports__img-players {
    left: 0;
    top: 85px;
    width: 100%;
    height: 248px;
    text-align: center;
    background: url("../img/player-s.png") no-repeat center 0;
  }

  .sports .sports__item {
    padding: 50px 20px 50px 20px;
  }

  .sports .sports__item dt {
    margin-bottom: 15px;
    margin-left: 24px;
    font-size: 28px;
    letter-spacing: 1.4px;
  }

  .sports .sports__item dt::before {
    left: -24px;
    top: 6px;
    font-size: 14px;
  }

  .sports .sports__item dt::after {
    left: -24px;
    top: 25px;
    width: 17px;
    height: 4px;
    border-radius: 2px;
  }

  .sports .sports__item dd {
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0.75px;
  }

  .sports--athlets .sports__item:nth-of-type(1) {
    background-color: #fafafa;
    margin-top: 225px;
  }

  .sports--players .sports__item:nth-of-type(1) {
    background-color: #fafafa;
    margin-top: 235px;
  }

  .sports--athlets .sports__item:first-of-type dt {
    margin-top: 25px;
  }

  .sports--players .sports__item:first-of-type dt {
    margin-top: 15px;
  }

  .advantages .advantages__image {
    flex-basis: 100%;
    min-height: 351px;
    background: url("../img/01-m.jpg") 50% 50% no-repeat;
    background-size: cover;
  }

  .advantages .advantages__image--2 {
    background: url("../img/02-m.jpg") 50% 50% no-repeat;
    background-size: cover;
  }

  .advantages .advantages__image--3 {
    background: url("../img/03-m.jpg") 50% 50% no-repeat;
    background-size: cover;
  }

  .advantages .advantages__image::before {
    left: 20px;
    bottom: -10px;
    width: 70px;
    height: 70px;
    padding-top: 23px;
    font-size: 14px;
  }

  .advantages .advantages__image::after {
    left: 47px;
    bottom: 13px;
    width: 16px;
    height: 4px;
  }

  .advantages .advantages__text {
    padding: 25px 20px 75px 20px;
  }

  .advantages .advantages__title {
    margin-bottom: 10px;
    font-size: 28px;
  }

  .advantages .advantages__desc {
    font-size: 16px;
  }

  .footer {
    position: relative;
    height: 568px;
    background: #0a0e34 url("../img/footer-m.png") 50% 0 no-repeat;
    background-size: cover;
  }

  .footer .footer__wrapper {
    position: absolute;
    top: 100px;
    width: 100%;
    text-align: center;
  }

  .footer .footer__buttons {
    position: absolute;
    left: 0;
    top: 356px;
  }

  .footer .footer__title {
    margin-top: 45px;
    font-size: 32px;
    letter-spacing: 1.6px;
  }

  .footer .footer__subtitle {
    font-size: 14px;
    letter-spacing: 0.7px;
    color: #9b8ec1;
  }
}

@media (max-width: 480px) {
  .header .header__buttons {
    top: 400px;
  }
}

@media (max-width: 320px) {
  .header .header__title {
    top: 200px;
    padding-left: 20px;
    font-size: 28px;
  }

  .header .header__title--left span {
    padding-top: 20px;
    padding-left: 45px;
    padding-right: 20px;
    letter-spacing: 1.4px;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .header {
    height: 959px;
    background: #0a0e34 url("../img/header-m.png") 50% 0 no-repeat;
    background-size: cover;
  }

  .header .header__title--left {
    letter-spacing: 3.52px;
  }

  .btn--app > span:before {
    top: -7px;
    left: -68px;
    width: 45px;
    height: 55px;
  }

  .btn--google > span:before {
    top: -5px;
    left: -70px;
    width: 45px;
    height: 55px;
  }

  .btn--footer {
    width: 130px;
    height: 137px;
    border-radius: 30px;
    background: url("../img/surface_logo.svg") no-repeat 50% 50%, #5e42b0;
    background-size: 90px 90px;
  }

  .logo {
    width: 205px;
    height: 56px;
    left: -5px;
    font-size: 35px;
  }

  .logo--header {
    top: 39px;
  }

  .logo--footer {
    top: 879px;
  }

  .sports .sports__title {
    margin-left: 290px;
    margin-top: 55px;
    font-size: 80px;
  }

  .sports .sports__img-athlets {
    width: 335px;
    height: 699px;
    background: url("../img/footballer-m.png") no-repeat 0 0;
    left: 0;
    top: 95px;
  }

  .sports .sports__img-players {
    width: 436px;
    height: 565px;
    background: url("../img/player-m.png") no-repeat 0 0;
    right: 0;
    top: 35px;
  }

  .sports .sports__item {
    padding: 30px 35px 68px 290px;
  }

  .sports .sports__item dt {
    margin-bottom: 15px;
    margin-left: 30px;
    font-size: 32px;
    letter-spacing: 1.6px;
  }

  .sports .sports__item dt::before {
    left: -30px;
    top: 4px;
    font-size: 18px;
  }

  .sports .sports__item dt::after {
    left: -29px;
    top: 30px;
    width: 20px;
    height: 5px;
    border-radius: 2px;
  }

  .sports .sports__item dd {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.8px;
  }

  .sports--players .sports__title {
    margin-left: 31px;
  }

  .sports--players .sports__item {
    padding: 30px 345px 70px 31px;
  }

  .advantages .advantages__image {
    flex-basis: 100%;
    min-height: 584px;
    background: url("../img/01-m.jpg") 50% 50% no-repeat;
    background-size: cover;
  }

  .advantages .advantages__image--2 {
    background: url("../img/02-m.jpg") 50% 50% no-repeat;
    background-size: cover;
  }

  .advantages .advantages__image--3 {
    background: url("../img/03-m.jpg") 50% 50% no-repeat;
    background-size: cover;
  }

  .advantages .advantages__image::before {
    left: 33px;
    bottom: -25px;
    padding-top: 35px;
    width: 116px;
    height: 116px;
    font-size: 24px;
  }

  .advantages .advantages__image::after {
    left: 80px;
    bottom: 16px;
    width: 22px;
    height: 5px;
  }

  .advantages .advantages__text {
    padding: 55px 85px 100px 30px;
  }

  .advantages .advantages__title {
    margin-bottom: 10px;
    font-size: 80px;
  }

  .footer {
    position: relative;
    height: 956px;
    background: #0a0e34 url("../img/footer-m.png") 50% 0 no-repeat;
    background-size: cover;
  }

  .footer .footer__wrapper {
    position: absolute;
    top: 127px;
    width: 100%;
    text-align: center;
  }

  .footer .footer__title {
    margin-top: 55px;
    margin-bottom: -7px;
    font-size: 80px;
    letter-spacing: 4.85px;
  }

  .footer .footer__subtitle {
    font-size: 36px;
    color: #a496ca;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .header .header__title {
    top: calc(200px + (267 - 200) * ( (100vw - 320px) / ( 768 - 320) ));
    padding-left: calc(20px + (80 - 20) * ( (100vw - 320px) / ( 768 - 320) ));
    font-size: calc(28px + (64 - 28) * ( (100vw - 320px) / ( 768 - 320) ));
  }

  .header .header__title--left span {
    padding-top: calc(20px - (20 - 0) * ( (100vw - 320px) / ( 768 - 320) ));
    padding-left: calc(45px + (105 - 45) * ( (100vw - 320px) / ( 768 - 320) ));
    letter-spacing: calc(3.2px + (3.2 - 1.4) * ( (100vw - 320px) / ( 768 - 320) ));
  }
}

@media (min-width: 769px) and (max-width: 1919px) {
  .header .header__title {
    top: calc(267px + (378 - 267) * ( (100vw - 769px) / ( 1919 - 769) ));
    padding-left: calc(80px + (185 - 80) * ( (100vw - 769px) / ( 1919 - 769) ));
    font-size: calc(64px + (90 - 64) * ( (100vw - 769px) / ( 1919 - 769) ));
  }

  .header .header__title--left span {
    padding-left: calc(105px - (105 - 0) * ( (100vw - 769px) / ( 1919 - 769) ));
    letter-spacing: calc(4.5px - (4.5 - 3.2) * ( (100vw - 769px) / ( 1919 - 769) ));
  }
}

@media (min-width: 800px) and (max-width: 1919px) {
  .header .header__title {
    padding-right: calc(80px + (185 - 80) * ( (100vw - 800px) / ( 1919 - 800) ));
  }
}

@media (min-width: 481px) and (max-width: 640px) {
  .header .header__buttons {
    top: 450px;
  }
}

@media (min-width: 641px) and (max-width: 714px) {
  .header .header__buttons {
    top: 701px;
  }

  .footer .footer__buttons {
    position: absolute;
    left: 0;
    top: 667px;
  }
}

@media (min-width: 715px) and (max-width: 960px) {
  .header .header__buttons {
    top: 791px;
    display: -webkit-box;
    display: flex;
  }

  .footer .footer__buttons {
    position: absolute;
    left: 0;
    top: 747px;
    display: -webkit-box;
    display: flex;
  }
}